@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Martel&family=Fredericka+the+Great&family=Ubuntu&family=Charmonman&display=swap');

html{
    /* width: fit-content; */
    /* background-size: cover; */
    background-image: url('./images/Above\ Clouds.png');
}

.title{
    font-family: 'Andika New Basic', sans-serif;
    display: inline-flex;
    text-align: center;
    width: 100%;
    /* padding: 1%; */
    margin: 0 auto;
    justify-content: center;
    /* height: 400px; */
}

.head{
    display: block;
}

.lang{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5%;
    padding: 2%;
}
.l{
    margin: 1%;
    height: 30px;
}
.type h1 {
    overflow: hidden;
    border-right: .15em solid rgb(255, 0, 157);;
    white-space: nowrap;
    margin: 0 auto; 
    width: 50%;
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 0, 157); }
  }

.img{
    padding: 1%;
}

codersrank-skills-chart {
    --svg-width: 100%;
    background-color: #fff;
    padding: 2%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5%;
}
.cd{
    margin: 0 auto;
    justify-content: center;
    width: 40%;
    
}

.btn-toggle{
    border-radius: 50%;
    border: none;
    padding: 1%;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
}

footer{
    height:120px; 
    /* width: max-content; */
    background-color:rgba(255, 255, 255, 0.3);
    /* margin-bottom: 0%; */
    color: rgb(12, 12, 12);
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.mega-div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.loc, .soc, .dev{
    width: 30%;
    text-align: center;
}
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: black;
  }
  /* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: #00B0FF solid 2px;
    width: 100%;
    justify-self: center;
  }


  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(179, 211, 230);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(7, 215, 252);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    font-family: 'Ubuntu', sans-serif;
    height: 500px;
    background-color: rgba(83, 191, 199, 0.37);
}

.tabcontent h3{
    text-align: center;
}

.projlist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
}

.container {
    position: relative;
    /* margin: 4%; */
    background-color: #fff;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #008CBA; */
}

#weatherify{
    background-color: #f1e257;
}
#quiz{
    background-color: rgb(241, 87, 112);
}
#tree{
    background-color: #00BF0D;
}
#covid{
    background-color: #BF00BB;
}
#save{
    background-color: #F9A826;
}
#task{
    background-color: #00B0FF;
}
  
#ai{
    background-color: #00BFA6;
}

#hand{
    background-color: #A8C41E;
}

  .container:hover .overlay {
    opacity: 1;
    border-radius: 10%;
  }
  
  .text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .tryitout{
      background-color: rgb(255, 255, 255);
      padding: 2px;
      width: 100px;
      border: #ffffff double 1px;
  }
  .about{
    font-family: 'Andika New Basic', sans-serif;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
    justify-content: space-around;
    font-size: medium;
    background: rgba(255, 255, 255, 0.6);
    padding: 2%;
    border-radius: 5%;
    display: flex;
  }

  .div{
    margin: 0 auto;
    width: 50%;
    background: rgba(255, 255, 255, 0.6);
    padding: 2%;
    border-radius: 5%;
    justify-content: space-between;
    display: flex;
  }

  
.items {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(0%, -30%);
  user-select: none;
  margin: 5%;
  padding: 10%;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  border-radius: 5%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}

.devpost{
    background-color: rgba(255, 255, 255,0.5);
    padding: 2px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    justify-content: space-around;
    transform: translateX(30%);
    border: #907bee double 2px;
    cursor: pointer;
}
.devpost:hover{
  background-color: rgb(255, 255, 255);
    padding: 2px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    justify-content: space-around;
    transform: translateX(30%);
    border: #0245ff double 2px;
}
.h{
  font-family: 'Martel', serif;
  font-size: 30px;
}