.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow-x: hidden;
}

main {
  flex: 1;
  width: 100%;
  margin-left: 200px;
  transition: margin-left 0.3s ease;
}

.footer {
  padding-left: 15% !important;
  transition: padding-left 0.3s ease;
}

@media (max-width: 1440px) {
  .footer {
    padding-left: 20% !important;
  }
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer {
    padding-left: 0 !important;
  }
}